{% extends 'base.html' %}

{% block title %} Maintenance Logs {% endblock %}

{% block heading %} <h1 class="pageTitle"> Maintenance Logs </h1> {% endblock %}

{% block content %}
    <ul style='list-style-type:square;'>
        {% for maintenance in Maintenance %}
        <li> <a href="{{ maintenance.get_absolute_url }}/tasks"> {{ maintenance.maintenance_num }} </a> </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block navigation %}
    <a class="miniLink" href="/train_maintenance/maintenance/"> Maintenance Logs </a> <br>
    <a class="miniLink" href="/train_maintenance/tasks"> Tasks Masterlist </a> <br>
    <a class="miniLink" href="/train_maintenance/trains"> Trains MasterList </a> <br> 
{% endblock %}