{% extends 'base.html' %}

{% block title %} Maintenance of each train model {% endblock %}

{% block heading %} <h1 class="pageTitle"> Maintenace Logs for each train model </h1> {% endblock %}

{% block content %}
    <table>
        <tr>
            <td colspan=10> {{trainModel.Model}} </td>
        </tr>
        <tr>
            <td>
                Max. Speed
            </td>
            <td>
                No. of Seats
            </td>
            <td>
                No. of Toilets
            </td>
            <td>
                Has Reclining Seats 
            </td>
            <td>
                Has Folding Tables
            </td>
            <td>
                Has Disability Access
            </td>
            <td>
                Has Luggage Storage
            </td>
            <td>
                Has Vending Machines
            </td>
            <td>
                Has Food Service
            </td>
            <td>
                Train Type
            </td>
        </tr>
        <tr>
            <td>
                {{trainModel.Max_Speed}}
            </td>
            <td>
                {{trainModel.No_of_Seats}}
            </td>
            <td>
                {{trainModel.No_of_Toilets}}
            </td>
            <td>
                {{trainModel.Reclining_Seats}} 
            </td>
            <td>
                {{trainModel.Folding_Tables}}
            </td>
            <td>
                {{trainModel.Disability}}
            </td>
            <td>
                {{trainModel.Luggage_Storage}}
            </td>
            <td>
                {{trainModel.Vending_Machines}}
            </td>
            <td>
                {{trainModel.Food_Service}}
            </td>
            <td>
                {{trainModel.Train_Type}}
            </td>
        </tr>
    </table>

    <h3> maintenance log of this particular train </h3>
    <ul style='list-style-type:square;'>
        {% for maintenance in Maintenance %}
        <li> <a href="/train_maintenance/maintenance/{{ maintenance.get_absolute_url }}/tasks"> {{ maintenance.maintenance_num }} </a> </li>
        {% endfor %}
    </ul>
        

{% endblock %}

{% block navigation %}
<a class="miniLink" href="/train_maintenance/maintenance/"> Maintenance Logs </a> <br>
<a class="miniLink" href="/train_maintenance/tasks"> Tasks Masterlist </a> <br>
<a class="miniLink" href="/train_maintenance/trains"> Trains MasterList </a> <br> 
{% endblock %}