{% extends 'base.html' %}

{% block title %} Maintenance of each train model {% endblock %}

{% block heading %} <h1 class="pageTitle"> Maintenace Logs for each train model </h1> {% endblock %}

{% block content %}

    <h2> {{train.Model}} </h2>
    <table>
        <tr>
            <td>
                Max. Speed
            </td>
            <td>
                No. of Seats
            </td>
            <td>
                No. of Toilets
            </td>
            <td>
                Has Reclining Seats 
            </td>
            <td>
                Has Folding Tables
            </td>
            <td>
                Has Disability Access
            </td>
            <td>
                Has Luggage Storage
            </td>
            <td>
                Has Vending Machines
            </td>
            <td>
                Has Food Service
            </td>
            <td>
                Train Type
            </td>
        </tr>
        <tr>
            <td>
                {{train.Max_Speed}}
            </td>
            <td>
                {{train.No_of_Seats}}
            </td>
            <td>
                {{train.No_of_Toilets}}
            </td>
            <td>
                {{train.Reclining_Seats}} 
            </td>
            <td>
                {{train.Folding_Tables}}
            </td>
            <td>
                {{train.Disability}}
            </td>
            <td>
                {{train.Luggage_Storage}}
            </td>
            <td>
                {{train.Vending_Machines}}
            </td>
            <td>
                {{train.Food_Service}}
            </td>
            <td>
                {{train.Train_Type}}
            </td>
        </tr>
    </table>

    <table> 
        <tr>
            <td> Task_id </td>
            <td> Task_name </td>
            <td> Date </td>
            <td> Crew_in_charge </td>
            <td> Condition </td>
        </tr>
        {% for task in tasks %}
        <tr>
            <td> {{task.Task_id}} </td>
            <td> {{task.Task_name}} </td>
            <td> {{task.Date}} </td>
            <td> {{task.Crew_in_charge}} </td>
            <td> {{task.Condition}} </td>
        </tr>
        {% endfor%}
    </table>

{% endblock %}

{% block navigation %}
    <a class="miniLink" href="/train_maintenance/maintenance/"> Maintenance Logs </a> <br>
    <a class="miniLink" href="/train_maintenance/tasks"> Tasks Masterlist </a> <br>
    <a class="miniLink" href="/train_maintenance/trains"> Trains MasterList </a> <br> 
{% endblock %}