{% extends 'base.html' %}

{% block title %} Train Master List {% endblock %}

{% block heading %} <h1 class="pageTitle"> Train Master List </h1> {% endblock %}

{% block content %}
    <table>
        <tr>
            <td>
                Train Model
            </td>
            <td>
                Max. Speed
            </td>
            <td>
                No. of Seats
            </td>
            <td>
                No. of Toilets
            </td>
            <td>
                Has Reclining Seats 
            </td>
            <td>
                Has Folding Tables
            </td>
            <td>
                Has Disability Access
            </td>
            <td>
                Has Luggage Storage
            </td>
            <td>
                Has Vending Machines
            </td>
            <td>
                Has Food Service
            </td>
            <td>
                Train Type
            </td>
        </tr>
        {% for train in train_model %}
        <tr>
            <td> <a href="{{ train.get_absolute_url }}/maintenance"> {{train.Model}} </a> </td>

            <td>{{train.Max_Speed}}</td>
            <td>{{train.No_of_Seats}} </td>
            <td>{{train.No_of_Toilets}}</td>
            <td>{{train.Reclining_Seats}}</td>
            <td>{{train.Folding_Tables}}</td>
            <td>{{train.Disability_Access}}</td>
            <td>{{train.Luggage_Storage}}</td>
            <td>{{train.Vending_Machines}}</td>
            <td>{{train.Food_Service}}</td>
            <td>{{train.Train_Type}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block navigation %}
<a class="miniLink" href="/train_maintenance/maintenance/"> Maintenance Logs </a> <br>
<a class="miniLink" href="/train_maintenance/tasks"> Tasks Masterlist </a> <br>
<a class="miniLink" href="/train_maintenance/trains"> Trains MasterList </a> <br> 
{% endblock %}